# **Diabetes Disease Prediction Classifier**
### I have used the data provided on the drive for this task. I have tried different training models like LogisticRegression, KNN and Decision Tree. But the Decision Tree model gave the best accuracy of 96%

# Loading Necessary Libraries

In [160]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data Mining and Data Cleaning
 Making data clean and ready for our machine learning model.

In [161]:
df=pd.read_csv('1. Data for the task 1.csv')

In [162]:
df

      ID  No_Pation Gender  AGE  Urea  Cr  ...   TG  HDL  LDL  VLDL   BMI  CLASS
0    502      17975      F   50   4.7  46  ...  0.9  2.4  1.4   0.5  24.0      N
1    735      34221      M   26   4.5  62  ...  1.4  1.1  2.1   0.6  23.0      N
2    420      47975      F   50   4.7  46  ...  0.9  2.4  1.4   0.5  24.0      N
3    680      87656      F   50   4.7  46  ...  0.9  2.4  1.4   0.5  24.0      N
4    504      34223      M   33   7.1  46  ...  1.0  0.8  2.0   0.4  21.0      N
..   ...        ...    ...  ...   ...  ..  ...  ...  ...  ...   ...   ...    ...
995  200     454317      M   71  11.0  97  ...  1.7  1.2  1.8   0.6  30.0      Y
996  671     876534      M   31   3.0  60  ...  2.2  0.7  2.4  15.4  37.2     Y
997  669      87654      M   30   7.1  81  ...  1.1  1.2  2.4   8.1  27.4     Y
998   99      24004      M   38   5.8  59  ...  2.0  1.6  2.9  14.0  40.5     Y
999  248      24054      M   54   5.0  67  ...  1.7  1.1  3.0   0.7  33.0     Y

[1000 rows x 14 columns]

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB

In [164]:
df.isnull().sum()

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [165]:
df.columns

Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS'],
      dtype='object')

In [166]:
df=pd.concat([df, pd.get_dummies(df[['Gender']])], axis='columns')

In [167]:
df

      ID  No_Pation Gender  AGE  Urea  ...   BMI  CLASS  Gender_F  Gender_M  Gender_f
0    502      17975      F   50   4.7  ...  24.0      N         1         0         0
1    735      34221      M   26   4.5  ...  23.0      N         0         1         0
2    420      47975      F   50   4.7  ...  24.0      N         1         0         0
3    680      87656      F   50   4.7  ...  24.0      N         1         0         0
4    504      34223      M   33   7.1  ...  21.0      N         0         1         0
..   ...        ...    ...  ...   ...  ...   ...    ...       ...       ...       ...
995  200     454317      M   71  11.0  ...  30.0      Y         0         1         0
996  671     876534      M   31   3.0  ...  37.2     Y          0         1         0
997  669      87654      M   30   7.1  ...  27.4     Y          0         1         0
998   99      24004      M   38   5.8  ...  40.5     Y          0         1         0
999  248      24054      M   54   5.0  ...  33.0     Y          0         1         0

[1000 rows x 17 columns]

In [168]:
df.columns

Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS', 'Gender_F', 'Gender_M',
       'Gender_f'],
      dtype='object')

In [169]:
df.drop(['Gender','Gender_f'], axis='columns', inplace=True)

In [170]:
df.isnull().sum()

ID           0
No_Pation    0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
Gender_F     0
Gender_M     0
dtype: int64

In [171]:
df.columns

Index(['ID', 'No_Pation', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL',
       'LDL', 'VLDL', 'BMI', 'CLASS', 'Gender_F', 'Gender_M'],
      dtype='object')

In [172]:
features=df[['AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL',
       'LDL', 'VLDL', 'BMI', 'Gender_F', 'Gender_M']]
features.shape

(1000, 12)

In [179]:
labels=df['CLASS']
labels

0       N
1       N
2       N
3       N
4       N
       ..
995     Y
996    Y
997    Y
998    Y
999    Y
Name: CLASS, Length: 1000, dtype: object

# Splitting Data into Training and Validation/Testing

In [180]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [181]:
X_train,X_vald, y_train, y_vald=train_test_split(features, labels, train_size=0.7)

# Loading LogisticRegression Model
By using LogisticRegression I got the accuracy of 84%.

In [182]:
from sklearn.linear_model import LogisticRegression

In [183]:
LR=LogisticRegression()

In [184]:
LR.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [185]:
LR_predict=LR.predict(X_vald)

In [186]:
accuracy_score(LR_predict, y_vald)

0.84

# KNN Classifier
 The accuracy of KNN classifier was 86.3%

In [187]:
from sklearn.neighbors import KNeighborsClassifier

In [188]:
KNN=KNeighborsClassifier()

In [189]:
KNN.fit(X_train, y_train)

KNeighborsClassifier()

In [190]:
KNN_predict=KNN.predict(X_vald)

In [191]:
accuracy_score(KNN_predict, y_vald)

0.8633333333333333

# Decision Tree
 The best accuracy I got was from Decision Tree classifier. And it
s accuracy was 96.6%

In [198]:
from sklearn.tree import DecisionTreeClassifier

In [193]:
tree=DecisionTreeClassifier()
params=tree.get_params(deep=True)

In [194]:
model=tree.fit(X_train, y_train)

In [195]:
tree_predict=tree.predict(X_vald)

In [196]:
LR_predict_df=LR.decision_function(X_vald)

In [197]:
accuracy_score(tree_predict, y_vald)

0.9666666666666667